body, html {
    height: 100%;
}

.landing-image {
    background-image: url("../assets/vinyl.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}